.card-img-top {
	width: 100%;
	height: auto;

	@media only screen and (min-width: 600px) {
		width: 40%;
		height: auto;
	}

	@media only screen and (min-width: 728px) {
		width: 60%;
		height: auto;
	}
	@media only screen and (min-width: 940px) {
		width: 70%;
		height: auto;
	}
}

/*
nav ul {
	@media only screen and (max-width: 550px) {
		display: flex;
		flex-direction: column;
	}
}

.gridArticle {
	@media only screen and (max-width: 550px) {
		display: flex;
		flex-direction: column;
	}
	@media only screen and (min-width: 551px) {
		display: flex;
		flex-direction: row;
	}
}


.gridContainer {
	@media only screen and (max-width: 550px) {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 3fr 3fr 3fr 1fr;
		grid-template-areas:
			"header"
			"nav"
			"article"
			"footer";
	}
}

.gridForm {
	@media only screen and (max-width: 550px) {
		display: flex;
		flex-direction: column;
	}
}

.gridContainer-form {
	@media only screen and (max-width: 550px) {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 3fr 3fr 3fr 1fr;
		grid-template-areas:
			"header"
			"nav"
			"form"
			"footer";
	}
}
*/
