/*SSAS II Uso de variables*/
$htmlFontSize: 62.5%;
$h3FontSize: 2rem;
$articleFontSize: 2rem;

@import "./media";

* {
	margin: 0;
	padding: 0;
}
html {
	font-size: $htmlFontSize;
}

h3 {
	font-size: $h3FontSize;
	color: black;
	text-align: center;
}

.gridHeader {
	grid-area: header;
}

.gridNav {
	/*5TO DESAFIO: ANIMACION*/
	animation: bounce 2s ease 0s 1 normal forwards;
	grid-area: nav;
}
.navbar {
	background-image: url("../imagenes/surtido-de-comida-rápida-y-vista-superior-doble-borde-lateral-en-un-fondo-banner-madera-oscura-variedad-alimentos-para-consumo-o-184617291.jpeg");
}

nav {
	h1 {
		font-size: 4rem;
		color: beige;
	}
	.navbar-nav {
		text-align: end !important;
		li {
			a {
				font-size: large;
				/*Cambiando el color del Nav Solo con Important se sobreescribre el valor de Bootstrap*/
				color: white !important;
			}
		}
	}
}

.container-fluid {
	flex-direction: column;
}

.navbar-toggler {
	background-color: lightgray;
}

.DondeComerLogo {
	border-radius: 50%;
}

@keyframes bounce {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

a {
	text-decoration: none;
}

.gridArticle {
	display: flex;
	flex-direction: row;
	grid-area: article;
}

article {
	border: solid 1px black;
	margin: 5px 5px 10px 5px;
	padding: 10px;
	font-size: $articleFontSize;
	text-align: center;
}

.gridFooter {
	grid-area: footer;
}

.gridContainer {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 3fr 1fr 4fr 1fr;
	grid-template-areas:
		"header header"
		"nav nav"
		"article article"
		"footer footer";
}

.gridForm {
	grid-area: form;
}

.cards-wrapper {
	display: inline-flex;
	justify-content: center;
}

.card {
	margin: 0 0.5em;
	box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
	border: none;
	border-radius: 0;
}
.carousel-inner {
	padding: 1em;
}
.card-img-top {
	width: 100%;
	height: auto;
}
.carousel-control-prev,
.carousel-control-next {
	background-color: #e1e1e1;
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}

/*SSAS II Uso de mixin*/

@mixin img_square($size) {
	height: $size;
	width: $size;
}

/*SSAS II Uso de extend*/
.redesSociales-face {
	@include img_square(30px);
	background-color: aqua;
}

.redesSociales-tube {
	@extend .redesSociales-face;
}

@media only screen and (max-width: 550px) {
	header img {
		height: 200px;
		width: auto;
	}
}
