/*SSAS II Uso de variables*/
$htmlFontSize: 62.5%;
$h3FontSize: 2rem;
$articleFontSize: 2rem;

@import "./media";

* {
	margin: 0;
	padding: 0;
}
html {
	font-size: $htmlFontSize;
}

h3 {
	font-size: $h3FontSize;
	color: black;
	text-align: center;
}

header {
	/*background-color: rgb(29, 30, 33);*/

	/*5TO DESAFIO: APLICAR GRADIENTES Y TRANSFORMACIONES*/
	background: rgb(9, 9, 121);
	background: linear-gradient(90deg, rgba(9, 9, 121, 1) 68%, rgba(2, 0, 36, 1) 69%, rgba(0, 212, 255, 1) 100%);
	margin: 5px 5px 30px 5px;
	padding: 15px 5px 10px 20px;
	align-items: center;
	transform: rotateY(360deg);
	transition: 2s;
	h1 {
		font-size: 4rem;
		color: beige;
		text-align: center;
	}
	img {
		border: solid 1px white;
		height: 500px;
		width: 98%;
	}
}

.gridHeader {
	grid-area: header;
}

.gridNav {
	/*5TO DESAFIO: ANIMACION*/
	animation: bounce 2s ease 0s 1 normal forwards;
	grid-area: nav;
}

nav {
	li {
		display: inline;
		padding: 10px;
		margin: 5px 5px 10px 5px;
		border: solid 1px black;
		transition: 0.3s;
	}
	li:hover {
		background-color: black;
		color: white;
		font-size: 120%;
	}
}

@keyframes bounce {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

a {
	text-decoration: none;
}

.gridArticle {
	display: flex;
	flex-direction: row;
	grid-area: article;
}

article {
	border: solid 1px black;
	margin: 5px 5px 10px 5px;
	padding: 10px;
	font-size: $articleFontSize;
	text-align: center;
}

.gridFooter {
	grid-area: footer;
}

.gridContainer {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 3fr 1fr 4fr 1fr;
	grid-template-areas:
		"header header"
		"nav nav"
		"article article"
		"footer footer";
}

.gridForm {
	grid-area: form;
}

/*SSAS II Uso de mixin*/

@mixin img_square($size) {
	height: $size;
	width: $size;
}

/*SSAS II Uso de extend*/
.redesSociales-face {
	@include img_square(30px);
	background-color: aqua;
}

.redesSociales-tube {
	@extend .redesSociales-face;
}

@media only screen and (max-width: 550px) {
	header img {
		height: 200px;
		width: auto;
	}
}
