@charset "UTF-8";
/*SSAS II Uso de variables*/
@media only screen and (max-width: 550px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .gridArticle {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 551px) {
  .gridArticle {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (max-width: 550px) {
  .gridContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3fr 3fr 3fr 1fr;
    grid-template-areas: "header" "nav" "article" "footer";
  }
}

@media only screen and (max-width: 550px) {
  .gridForm {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .gridContainer-form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 3fr 3fr 3fr 1fr;
    grid-template-areas: "header" "nav" "form" "footer";
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h3 {
  font-size: 2rem;
  color: black;
  text-align: center;
}

header {
  /*background-color: rgb(29, 30, 33);*/
  /*5TO DESAFIO: APLICAR GRADIENTES Y TRANSFORMACIONES*/
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgb(9, 9, 121) 68%, rgb(2, 0, 36) 69%, rgb(0, 212, 255) 100%);
  margin: 5px 5px 30px 5px;
  padding: 15px 5px 10px 20px;
  align-items: center;
  transform: rotateY(360deg);
  transition: 2s;
}
header h1 {
  font-size: 4rem;
  color: beige;
  text-align: center;
}
header img {
  border: solid 1px white;
  height: 500px;
  width: 98%;
}

.gridHeader {
  grid-area: header;
}

.gridNav {
  /*5TO DESAFIO: ANIMACION*/
  -webkit-animation: bounce 2s ease 0s 1 normal forwards;
          animation: bounce 2s ease 0s 1 normal forwards;
  grid-area: nav;
}

.navbar {
  background-image: url("../imagenes/surtido-de-comida-rápida-y-vista-superior-doble-borde-lateral-en-un-fondo-banner-madera-oscura-variedad-alimentos-para-consumo-o-184617291.jpeg");
}

/*Cambiando el color del Nav Solo con Important se sobreescribre el valor de Bootstrap*/
nav h1 {
  font-size: 4rem;
  color: beige;
}
nav .navbar-nav {
  text-align: end !important;
}
nav .navbar-nav li a {
  font-size: large;
  color: white !important;
}

.container-fluid {
  flex-direction: column;
}

.navbar-toggler {
  background-color: lightgray;
}

/*
nav {
	li {
		display: inline;
		padding: 10px;
		margin: 5px 5px 10px 5px;
		border: solid 1px black;
		transition: 0.3s;
	}
	li:hover {
		background-color: black;
		color: white;
		font-size: 120%;
	}
}
*/
.DondeComerLogo {
  border-radius: 50%;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
a {
  text-decoration: none;
}

.gridArticle {
  display: flex;
  flex-direction: row;
  grid-area: article;
}

article {
  border: solid 1px black;
  margin: 5px 5px 10px 5px;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
}

.gridFooter {
  grid-area: footer;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 3fr 1fr 4fr 1fr;
  grid-template-areas: "header header" "nav nav" "article article" "footer footer";
}

.gridForm {
  grid-area: form;
}

.cards-wrapper {
  display: inline-flex;
  justify-content: center;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}

.carousel-inner {
  padding: 1em;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

/*SSAS II Uso de mixin*/
/*SSAS II Uso de extend*/
.redesSociales-face, .redesSociales-tube {
  height: 30px;
  width: 30px;
  background-color: aqua;
}

@media only screen and (max-width: 550px) {
  header img {
    height: 200px;
    width: auto;
  }
}/*# sourceMappingURL=messi.css.map */